---
{
  "name": "search",
  "class": "",
  "icon": "header",
  "keep_name": true,
  "keep_icon": true,
  "settings": [
    {
      "label": "Search logo",
      "id": "brand_logo",
      "type": "image_picker"
    },
    {
      "label": "Baseline",
      "id": "baseline",
      "type": "text",
      "html": true,
      "nb_rows": 2
    },
    {
      "label": "Theme color",
      "id": "theme_color",
      "type": "select",
      "options": [
        {"label": "Light","value": "light"},
        {"label": "Dark","value": "dark"}
      ]
    }
  ]

}
---
<div class="">
  test
</div>
