---
title: Compte client
handle: account
slug: account
seo_title: Mon Compte client | Shopinvader demo
is_layout: false
editable_elements:
  content/title: Mon compte
  content/sigin_account_title: Connexion
  content/sigin_account_details: Pour continuer, connectez-vous simplement ci-dessous.
  content/sigin_new_title: Créer un compte
  content/sigin_new_details: >
    <div class="h3 text-primary"> Rejoignez nous !</div>
    <p>Faite encore plus avec un compte client</p>
    <ul>
      <li>Commandez rapidement.</li>
      <li>Sauvegardez vos adresse</li>
      <li>Suivez vos colis</li>
    </ul>
---
